.header_content{
    display: flex;
    gap: 20px!important;
    align-items: space-between;
    border:2px solid greenyellow !important;
    padding: 20px;
    width:100%;
    background-color: lemonchiffon;

}
.image_content{
    height:26px;
    width:20px;
}
.title{
font-weight: 500;
color:aqua
}